/*
* Set everything to 99% opacity because why not
*/
* {
    opacity: 99%;
}

/*
* Format header
*/
#header {
    font-size: 1.5em;
    --text-color: color-mix(in srgb, #3db7c9 50%, white);
    background-color: #363333;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 100px;
    border-style: inset;
    border-color: black;
    border-width: 10px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
}

/*
* Turn p elements blue that are siblings with h3
*/
h3:has(+ p) {
    color: color-mix(in srgb, #3db7c9 50%, white);
}

/*
* Set font and color for all text
*/
p, ol, summary {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: var(--text-color, rgb(10, 10, 10));
}

/*
*  Messing with em unit
*/
li {
    font-size: 1.25em;
}

/*
* Messing with pc unit
*/
h3 {
    font-size: 1.75pc;
    text-align: center;
}

/*
* Messing with rem unit
*/
h2 {
    font-size: 2rem;
    text-align: center;
}

/*
* Messing with inches unit
*/
h1 {
    font-size: 1in;
    text-align: center;
}

/*
* Messing with ex unit
*/
.ex {
    font-size: 3ex;
}

/*
* Testing selector to make underlines
*/
a[class] {
    text-decoration: red underline;
}

/*
* Testing class selector
*/
.under {
    text-decoration: yellow underline;
}

/*
* Trying out test-decoration
*/
.strike {
    text-decoration: rgba(145, 19, 19, 50%) line-through;
}

/*
* Configuring footer container
*/
#footer {
    background-color: hsla(0, 11%, 16%, 0.5);
    margin: 5px;
    padding: 0px;
    position: absolute;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

/*
* Configuring survey container
*/
.survey {
    position: static;
    display: block;
}

/*
* Configuring link layout
*/
.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100px;
    justify-content: flex-start;
}

/*
* Setting specifications for individual links
*/
.link {
    width: 50px;
    height: 50px;
    margin: auto;
}

/*
* Configuring grid for media
*/
.media {
    display: grid;
    grid-auto-flow: column;
    background-color: black;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

/*
* Configuring items in media to work with the grid
*/
.item {
    border-width: 10px;
    padding: 100px;
    background-color: blue;
    width: 300px;
    height: 300px;
    max-width: 300px;
    min-width: 50px;
}

/*
* Adding interactable effects to the button in survey
*/
.button {
    background-color: white;
    &:hover {
      background-color: rgb(186, 182, 182);
    }
    &:active {
        width: 200px;
        height: 15px;
        background-color: rgb(0, 0, 0);
      }
}

/*
* Setting margins
*/
#main-text {
    margin: auto;
}

/*
* Setting display of radio buttons
*/
#Rizz {
    display: inline-block;
}

/*
* Testing selector
*/
ul > li {
    color: lightcoral;
}

/*
* Testing selector
*/
#intro ~ h2 {
    color: white;
}

/*
* Testing selector
*/
li strong {
    font-size: 25px;
    color:red;
}

/*
* Testing selector
*/
a.link {
    background-color: navy;
    width: 90px;
}

/*
* Testing selector
*/
h1 + h2 {
    background-color: #3db7c9;
}

/*
* Configuring font-sizes when the user is on a small screen (phone)
*/
@media screen and (max-width: 750px) and (orientation:portrait) {
    body {
        font-size: 10px;
    }
}

/*
* Configuring font-sizes when the user is on a small screen (phone)
*/
@media screen and (max-width: 800px) and (max-height: 800px) and (orientation:landscape) {
    body {
        font-size: 10px;
    }
}